# files created by autoreconf
ABOUT-NLS
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.h.in~
config.rpath
config.sub
configure
depcomp
install-sh
m4/
intl/
missing
compile
po/Makefile.in.in
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.*
po/*.po~

# files created by configure
Makefile
config.h
config.log
config.status
config.status.lineno
po/POTFILES
.deps
stamp-h1
/manaplus.spec
PKGBUILD
data/evol/evol.desktop
data/tmw/tmw.desktop

# files created by CMake
CMakeFiles/
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
install_manifest.txt

# files created during build
*.o
*.gmo
*.gcda
*.gcno
.dirstamp
po/stamp-po
src/manaplus
src/dyecmd

# files created during Windows build
.objs
*.dll
*.exe
manaplis.depend
manaplis.layout
stdout.txt

# files copied in on Windows
include/*
lib/*
packaging/windows/upx/*
data/music/*.ogg

# files created by Qt Creator
mana.creator.user*

run/*
my/*
win/*
build/logs
build/make.log
build/make1.log
build/make2.log
build/make_nsiqcppstyle.txt
build/bcmake1
build/bmake1
build/gprof.png
build/gprof.txt
build/gprof.dot
build/gmon.out
build/makecheck.txt
build/makecheck_err.txt
build/makeflawfinder.log
build/makegprof1
build/pmake1
build/packwin1
build/toolchain.cmake1
build/makerats.log
build/make_hc.txt
build/make_hc2.txt
build/makecheck1
build/makecheck2
build/makecheck3
build/makecheck4
build/makecheck5
build/makecheck6
build/clmake
build/bmakesnapshot

# debian
debian/*
build-stamp

# files created by gtags
GPATH
GRTAGS
GSYMS
GTAGS

# tarballs generated by make dist
manaplus-*.tar.gz
manaplus-*.tar.bz2
manaplus-*.tar.xz

# generated for nsis build
translations/*

# documentation generated by Doxygen
docs/SOURCE/html/*

*.kdev4

gmon.out

# patch files created by git
[0-9][0-9][0-9][0-9]-*.patch

# backup files created by vi
*~

#temp file
.lineno

#mac crap
.DS_Store
Xcode/ManaPlus.xcodeproj/xcuserdata
Xcode/ManaPlus.xcodeproj/project.xcworkspace/xcuserdata
Xcode/Release/ManaPlus.dmg
Xcode/Release/*.dmg
Xcode/Release/Manaplus_ssh.txt

