Blue <bluesansdouze@gmail.com>
Cédric Borgese <cedric.borgese@gmail.com>
Thorbjørn Lindeijer <bjorn@lindeijer.nl>
Thorbjørn Lindeijer <thorbjorn.lindeijer@nokia.com>
Thorbjørn Lindeijer <bjorn@horst-dieter.(none)>
Dennis Friis <peavey@inspircd.org>
Falkreon <Falkreon@.(none)>
Ira Rice <irarice@gmail.com>
Majin Sniper <sniper@livecd.janhome.net>
Maximilian Philipps <turmfalke@Turmfalke.(none)>
remoitnane <remoit(DOT)nane(AT)gmail(DOT)com>
Victor Fury <frictor@unknown>
Andrei Karas <akaras@inbox.ru>
