Blue <bluesansdouze@gmail.com>
Cédric Borgese <cedric.borgese@gmail.com>
Thorbjørn Lindeijer <bjorn@lindeijer.nl>
Thorbjørn Lindeijer <thorbjorn.lindeijer@nokia.com>
Thorbjørn Lindeijer <bjorn@horst-dieter.(none)>
Dennis Friis <peavey@inspircd.org>
Falkreon <Falkreon@.(none)>
Ira Rice <irarice@gmail.com>
Majin Sniper <sniper@livecd.janhome.net>
Maximilian Philipps <turmfalke@Turmfalke.(none)>
remoitnane <remoit(DOT)nane(AT)gmail(DOT)com>
Victor Fury <frictor@unknown>
Andrei Karas <akaras@inbox.ru>
Hal9OOO (Francesco Miglietta) <miglietta.francesco@gmail.com>
Hal9OOO (Francesco Miglietta) <epoc@hal9000.(none)>
kook <kook@hc595.(none)>
kook <you@example.com>
Dan Sagunov <danilka.pro@gmail.com>
Hello=) <t3st3r@system>
Hello=) <t3st3r@laptop.lan>
