
[Desktop Entry]
Version=1.0
Name=ManaPlus (Tests)
Comment=Run tests for ManaPlus
Exec=manaplustest
StartupNotify=false
Terminal=false
Type=Application
Icon=manaplus
Categories=Game;AdventureGame;
