
[Desktop Entry]
Version=1.0
Name=ManaPlus (Tests)
Comment=Run tests for ManaPlus
Exec=manaplus --tests
StartupNotify=false
Terminal=false
Type=Application
Icon=manaplus
Categories=Game;AdventureGame;


# Translations
Comment[vls]=Droai wa test'n vo ManaPlus
Comment[it]=Testa ManaPlus
Comment[ja]=ManaPlusのテストランする
Name[ja]=ManaPlus (テスト)
Comment[nl_BE]=Draai enkele testen voor ManaPlus
Comment[de]=Testlauf für ManaPlus
Comment[es]=Ejecutar pruebas para ManaPlus
Name[es]=ManaPlus (Pruebas)
Comment[fr]=Lancer le test pour ManaPlus
