Source: mana
Section: games
Priority: optional
Homepage: http://manasource.org/
Maintainer: Patrick Matthäi <patrick.matthaei@web.de>
Build-Depends: debhelper (>= 5), dpkg-dev (>= 1.13.19), dpatch, autotools-dev, libcurl4-gnutls-dev, libgl1-mesa-dev, libguichan2-dev (>= 0.7.1), libsdl1.2-dev, libsdl-image1.2-dev, libsdl-net1.2-dev, libsdl-mixer1.2-dev, libphysfs-dev, libpng12-dev, libxml2-dev, zlib1g-dev
Standards-Version: 3.7.3

Package: mana
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mana-data (= ${source:Version})
Description: Mana is a 2D MMORPG client

Package: mana-dbg
Architecture: any
Priority: extra
Depends: mana (= ${binary:Version})
Description: Mana is a 2D MMORPG client (debugging symbols)
 .
 This package provides debugging symbols for the mana package.

Package: mana-data
Architecture: all
Recommends: mana
Description: Mana is a 2D MMORPG client
 .
 This package contains the data files.
