Source: mana-4144
Section: games
Priority: optional
Homepage: http://tmw.cetki.com/4144/
Maintainer: Andrei Karas <akaras@inbox.ru>
Build-Depends: debhelper (>= 7), libcurl4-gnutls-dev, libgl1-mesa-dev, libguichan-dev (>= 0.8.1), libsdl1.2-dev, libsdl-image1.2-dev, libsdl-net1.2-dev, libsdl-mixer1.2-dev, libphysfs-dev, libpng12-dev, libxml2-dev, zlib1g-dev, libsdl-ttf2.0-dev, libsdl-gfx1.2-dev
Standards-Version: 3.8.3

Package: mana-4144
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mana-4144-data (= ${source:Version}), tmwcetki-archive-keyring (>= 2010.10.17)
Recommends: mana-music
Suggests: mumble
Description: ManaPlus is extended client for The Mana World and similar servers
 ManaPlus is a 2D MMORPG games advanced client for games based on eAthena fork
 The Mana World (tAthena) also for other forks like Evol.
 More info here: http://manaplus.evolonline.org/

Package: mana-4144-dbg
Section: debug
Architecture: any
Priority: extra
Depends: ${misc:Depends}, mana-4144 (= ${binary:Version})
Description: ManaPlus is extended client for TMW and similar servers (debugging symbols)
 ManaPlus is a 2D MMORPG games advanced client for games based on eAthena fork
 The Mana World (tAthena) also for other forks like Evol.
 More info here: http://manaplus.evolonline.org/
 .
 This package provides debugging symbols for the mana-4144 package.

Package: mana-4144-data
Architecture: all
Depends: ${misc:Depends}, ttf-dejavu-core, ttf-liberation
Recommends: mana-4144, ttf-mplus
Description: ManaPlus is extended client for TMW and similar servers (data files)
 ManaPlus is a 2D MMORPG games advanced client for games based on eAthena fork
 The Mana World (tAthena) also for other forks like Evol.
 More info here: http://manaplus.evolonline.org/
 .
 This package contains the data files.
