#include <windows.h> // include for version info constants

#include "winver.h"

A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "../data/icons/manaplus.ico"
evol ICON MOVEABLE PURE LOADONCALL DISCARDABLE "../data/evol/icons/evol-client.ico"
tmw ICON MOVEABLE PURE LOADONCALL DISCARDABLE "../data/tmw/icons/tmw-client.ico"

1 VERSIONINFO
FILEVERSION VER_MAJOR,VER_MINOR,VER_RELEASE,VER_BUILD
PRODUCTVERSION VER_MAJOR,VER_MINOR,VER_RELEASE,VER_BUILD
//FILETYPE VFT_APP
{
    BLOCK "StringFileInfo" {
        BLOCK "040904E4" {
            VALUE "CompanyName", "The ManaPlus Development Team"
            VALUE "FileVersion", PACKAGE_VERSION "4144"
            VALUE "FileDescription", "ManaPlus"
            VALUE "LegalCopyright", "2004-2012 (C)"
            VALUE "OriginalFilename", "manaplus.exe"
            VALUE "ProductName", "ManaPlus MMORPG Client"
            VALUE "ProductVersion", PACKAGE_VERSION "4144"
        }
    }
}
